* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  position: absolute;
}
#scoot {
  margin-top: 50px;
}

nav {
  background-color: #fff;
  position: absolute;
  color: #cd8b8c;
  float: left;
  z-index: 5;
  width: 100%;
  position: fixed;
}

nav>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

nav>ul>li {
  list-style: none;
  padding: 1vw 10px 1vw 10px;
}

nav>ul>li>a {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-size: 20px;
}

/* top iamge flexbox sizing */
div.sizing {
  width: 100%;
  height: 40vh;
}

div.presentation {
  display: flex;
  justify-content: center;
}

div.presentation>div {
  width: 25%;
  height: 40vh;
}

img.imagefit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* text resizing and styling */
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: #1c2842;
}

div.container {
  width: 80%;
}

div.text {
  font-family: 'Josefin Sans', sans-serif;
  color: #777;
  font-size: 18px;
  width: 98vw;
  display: block;
  box-sizing: border-box;
  padding: 0 10%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #cd8b8c;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
}

span.linkemph {
  color: #1c2842;
  font-style: oblique;
  font-size: 20px;
  font-weight: 300;
}

span.emph {
  font-style: oblique;
}

span.finished {
  text-decoration: line-through;
  color: #1c2842;
}

span.working {
  font-style: oblique;
  color: #cd8b8c;
}

div.assetcontainer {
  width: 100%;
  height: 40vh;
}

div.assetcontainer > div {
  width: 100%;
  height: 100%;
  display: flex;
}

img.imagefituni {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 10%;
}

#board {
  padding-top: 6vh;
  position: relative;
  font-size: 15px;
  grid-row: auto;
  grid-column: auto;
  display: grid;
}

#boardImg {
  position: relative;
  z-index: 0;
  width: 100%;
}

#overlay {
  padding-top: 15vh;
  justify-content: center;
  position: absolute;
  z-index: 2;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, calc(20vw*0.55));
  display: grid;
}

div.hov {
  margin: 15% 8% 5% 10%;
  padding: 5%;
  opacity: 0;
}

div.hov:hover {
  border-radius: 10px;
  opacity: .8;
  color: #fff;
  background: #343842;
  transition: 300ms;
}
