body {

  background: #bcb9b9;
  color: #FFFFFF;
  font-family: Helvetica;
  padding: 10%;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 10px;
}

img {
  max-width: 70%;
}

.title {
  color: #f7dddd;
}

a {
  color: #FFFFFF;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}

a:hover {
  color: #f7dddd;
}
