//palette
//blue #1e2228
//pink #f3c0cc
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-smooth: always;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e2228;
  width: 100%;
}

#mainpage {
  width: 100%;
  display: grid;
  grid-template: 10% / repeat(3, 1fr);
}

#splash {
  width: 100%;
  grid-area: 1 / 1 / 10 / 4;
  text-align: center;
}

#splashTitle {
  width: 100%;
  grid-area: 2 / 1 / 3 / 4;
}

#splashSubTitle {
  width: 100%;
  grid-area: 2 / 1 / 3 / 4;
}

.title {
  top: 50vh;
  text-align: center;
  font-family: 'League Script', serif;
  font-size: 60px;
  color: #1e2228;
  background-color: #ffffff78;
  line-height: 25%;
  letter-spacing: 0px;
}

.subtitle {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: #1e222880;
}

#splashVideo {
  position: relative;
  top: 0;
  width: 100%;
  max-height: 100vh;
  z-index: -10;
}

#downArrow {
  width: 100%;
  grid-area: 2 / 1 / 3 / 4;
}

.arrow {
  position: absolute;
  bottom: 2vh;
  left: 48.7vw;
  border: solid #d3a1ad;
  border-width: 0 1px 1px 0;
  padding: 15px;
  display: inline-block;
  transform: rotate(45deg);
}

#images {
  width: 100%;
}

h1 {
  transform: translate(0px, 10px);
  padding-top: 2%;
  font-size: 40px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: #fff;
}

h3 {
  margin: 0;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  letter-spacing: 1.8px;
  color: #1e2228;
  background-color: #f3c0cc80;
  border-bottom: 2px solid #fff;
  padding-top: 3px;
  margin-bottom: 3px;
}

h4 {
  margin: 0;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: #1e2228;
  background-color: #f3c0cc80;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding-top: 3px;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: #555;
}

.flexContainer {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.char, .project {
  position: relative;
  flex-grow: 2;
  width: 25%;
  height: 15vw;
  object-fit: cover;
  object-position: 0 25%;
  margin: 2%;
  outline: .6vw solid #ffffff80;
  border: 1px solid #1e2228;
}

.char:hover, .project:hover {
  animation: borderFade .5s;
  animation-fill-mode: forwards;
  cursor: zoom-in;
}

@keyframes borderFade {
  100% {
    outline: .6vw solid #f3c0cc;
    border: 1px solid #515359;
  }

  0% {
    outline: .6vw solid #ffffff80;
    border: 1px solid #1e2228;
  }
}

.modal {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 2;
  overflow-y: auto;
  background-color: #aaaaaa80;
}

.modal>img {
  position: relative;
  max-width: 60vw;
  max-height: 150vh;
  margin-bottom: 5px;
}

#close {
  position: fixed;
  right: 5%;
  top: 0%;
  font-family: 'Josefin Slab', serif;
  font-size: 10vh;
  color: #fff;
  display: none;
  z-index: 3;
}

#close:hover {
  cursor: pointer !important;
}

.filler {
  border: 0px !important;
  outline: 0px !important;
  cursor: default !important;
}

iframe {
  border: none;
  position: relative;
  width: 50vw;
  height: 30vw;
  overflow: hidden;
}

.newPage {
  cursor: pointer !important;
}

.sticky {
  position: fixed !important;
  z-index: 20 !important;
  top: 0 !important;
  width: 100%;
}

#navbar {
  font-family: 'Josefin Slab', serif;
  position: absolute;
  font-size: 20px;
  background-color: #9fa0ab;
  border-bottom: 1px solid #fff;
  float: left;
  z-index: 10;
  height: 40px;
  top: 100vh;
  width: 100%;
}

/*makes a flexbox for the navbar and centers it, aligns text with the icon by center*/
nav>ul {
  transform: translate(0px, -10px);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/*text styling for nav links, gets rid of ugly link styling*/
nav>ul>li>a {
  font-weight: bold;
  letter-spacing: 1.8px;
  color: #282735;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
}

/* makes nav text white and glowy on hover*/
a:hover {
  color: #fff;
  text-shadow: 3px 0 8px #fff;
}

/*makes icon overlap a bit*/
.icon {
  margin: -60px 10px !important;
  height: 60px;
  display: block;
}

/* makes bigger on hover, janky way of keeping nav links from moving*/
.icon:hover {
  height: 64px;
  margin: -35px 7.75;
  transition: all 150ms ease-in;
}

p {
  letter-spacing: 1.8px;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  color: #f3c0cc;
}
