* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

nav.select {
  position: absolute;
  bottom: 25%;
  left: 5%;
  width: 99vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

nav.select>a>img {
  object-fit: contain;
  max-width: 50%;
}

nav.select>a>img:hover {
  opacity: 0.7;
  transition: 400ms;
}

/* I don't understand why it has to be 200vh */
div.Parts {
  max-width: 100%;
  max-height: 200vh;
  position: absolute;
  bottom: 0;
}

header.instruction {
  color: #7e808c;
  font-family: 'Advent Pro', sans-serif;
  font-size: 7vh;
  position: absolute;
}

#subtract {
  transform: skew(-30deg);
  left: 15vw;
  top: 50vh;
}

#composite {
  text-align: center;
  left: 48vw;
  top: 10vh;
}

#add {
  transform: skew(30deg);
  right: 15vw;
  top: 50vh;
}

nav.backNav>a {
  position: absolute;
  top: 51vh;
  left: 3%;
  font-size: 7vh;
  color: #e2aaaa;
  font-family: 'Advent Pro', sans-serif;
}

img.tempClass {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 10%;
}

#planets>img {
  right: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden !important;
  max-width: 100%;
}

div.planets {
  pointer-events: none;
  right: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

div.container {
  right: 0;
  position: relative;
}

#orbit_1 {
  pointer-events: none;
  right: 0;
  max-width: 99%;
  max-height: 99vh;
  animation: orbit 10s linear infinite;
  overflow: hidden !important;
}

#orbit_2 {
  pointer-events: none;
  max-width: 99%;
  max-height: 99vh;
  animation: orbit 5s linear infinite;
  overflow: hidden !important;
}

#orbit_3 {
  pointer-events: none;
  max-width: 99%;
  max-height: 99vh;
  animation: orbit 15s linear infinite;
  overflow: hidden !important;
}

@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}

#hair {
  pointer-events: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("../images/space_6ani.png");
  background-size: 100%;
  background-position: right bottom;
}
