/* bye, built in styling */
* {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

a {
  text-decoration: none;
}

/* three images, displayed in flexbox */
nav.select {
  position: absolute;
  bottom: 25%;
  left: 5%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

nav.select>a>img {
  object-fit: contain;
  max-width: 50%;
}

/* lightens on hover */
nav.select>a>img:hover {
  opacity: 0.7;
  transition: 400ms;
}

/* I don't understand why it has to be 200vh */
/* resizes sketch */
div.Parts {
  max-width: 100%;
  max-height: 200vh;
  position: absolute;
  bottom: -0.5vh;
}

/* click instructional text */
header.instruction {
  color: #7e808c;
  font-family: 'Advent Pro', sans-serif;
  font-size: 7vh;
  position: absolute;
}

/* positions, makes text skewed */
#subtract {
  transform: skew(-30deg);
  left: 15vw;
  top: 50vh;
}

#composite {
  text-align: center;
  left: 48vw;
  top: 10vh;
}

#add {
  transform: skew(30deg);
  right: 15vw;
  top: 50vh;
}

/* return to index link */
nav.backNav>a {
  position: absolute;
  top: 51vh;
  left: 3%;
  font-size: 7vh;
  color: #e2aaaa;
  font-family: 'Advent Pro', sans-serif;
}

/* just here temporarily to deal with unfinished pages */
img.tempClass {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 10%;
}

/* container for orbiting planets */
#planets>img {
  right: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  height: 100vh;
}


div.planets {
  pointer-events: none;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}

/* needed to make hodden overflow work */
div.container {
  right: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* orbiting planets */
#orbit_1 {
  pointer-events: none;
  position: relative;
  right: -30vw;
  max-width: 100%;
  max-height: 100vh;
  animation: orbit 10s steps(75) infinite;
}

#orbit_2 {
  pointer-events: none;
  position: relative;
  right: -30vw;
  max-width: 100%;
  max-height: 100vh;
  animation: orbit 5s steps(50) infinite;
}

#orbit_3 {
  pointer-events: none;
  position: relative;
  right: -30vw;
  max-width: 100%;
  max-height: 100vh;
  animation: orbit 15s steps(125) infinite;
}

/* animation for rotation */
@keyframes orbit {
  100% {
    transform: rotate(360deg);
  }
}

/* apng as background of div for hair */
#hair {
  pointer-events: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("../images/space_6ani2.png");
  background-size: 100%;
  background-position: right bottom;
}

/* crosses out instructions on non-functional pages */
header.temp {
  text-decoration: line-through;
}
