* { /*remove existing styling*/
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*navigation bar styling */

div.nav { /*sets position to below immediate viewframe*/
  position: absolute;
  font-size: 24px;
  background-color: #aaa;
  float: left;
  z-index: 5;
  top: 100vh;
  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  padding: 5px;
  list-style: none;
}

a {
  letter-spacing: 1.8px;
  color: #f6e0e0;
  text-decoration: none;
}

#icon {
  margin: -25% 10%;
  height: 60px;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
}

.arrow {
  position: absolute;
  bottom: 2vh;
  left: 48.7vw;
  border: solid #aaa;
  border-width: 0 .5vw .5vw 0;
  padding: 1.3vw;
  display: inline-block;
  transform: rotate(45deg);
}

/*grid setup*/

body {
  display: grid;
  grid-template: 100vh minmax(min-content, max-content)/ repeat(3, 1fr);
  font-family: 'Cormorant', serif;
  font-size: 22px;
}

/*main page styling*/

div.landing {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background: url("images/demo_background.png") center 85% no-repeat, url("images/moon_demo.png") center -60% no-repeat;
  background-size: 165vh, 80vh;
}

/*title styling*/

header {
  margin-top: 10vh;
  line-height: 75%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header > h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #3d3f4e;
}

header > h2 {
  color: #bbb;
}

/*gallery section styling*/

section.art {
  box-sizing: border-box;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-areas:
    "t t t"
    "i1 i1 i1"
    "i1 i1 i1"
    "i11 i11 i11"
    "i11 i11 i11"
    "i9 i9 i9"
    "i9 i9 i9"
    "i8 i8 i8"
    "i8 i8 i8"
    "i10 i10 i14"
    "i10 i10 i14"
    "i7 i13 i13"
    "i7 i13 i13"
    ". b ."
    "i5 i5 i12"
    "i2 i2 i12"
    "i6 i3 i4"
    "i6 i3 i4";
  grid-template-rows: 10vh repeat(12, 40vh) 30px repeat(4, 0);
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5% 0 5%;
  font-size: 2vh;
}

section.artexpand { /*I know this is the messiest, most unnecessary code ever, but I am so tired of messing with this part*/
  box-sizing: border-box;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-areas:
    "t t t"
    "i1 i1 i1"
    "i1 i1 i1"
    "i11 i11 i11"
    "i11 i11 i11"
    "i9 i9 i9"
    "i9 i9 i9"
    "i8 i8 i8"
    "i8 i8 i8"
    "i10 i10 i14"
    "i10 i10 i14"
    "i7 i13 i13"
    "i7 i13 i13"
    "i5 i5 i12"
    "i2 i2 i12"
    "i6 i3 i4"
    "i6 i3 i4";
  grid-template-rows: 10vh repeat(12, 40vh) repeat(4, 30vh);
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5% 0 5%;
  font-size: 2vh;
}

/*desat high contrast images to avoid unwanted clash*/
.desat {
  filter: saturate(50%);
}

.lowdesat {
  filter: saturate(70%)
}

/*popout icon styling*/
section.art > p > a > img,
section.artexpand > p > a > img {
  width: 4vh;
  float: right;
}

/*text overlay styling*/
p.overlay {
  opacity: 0;
  color: #F6E0E0 !important;
  background-image: linear-gradient(to bottom, rgba( 0, 0, 0, 0), rgba( 0, 0, 0, 0), rgba(150, 150, 150, 0.8));
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/*grid image styling*/
#img1, #img3, #img4, #img5, #img6, #img7, #img14 {
  position: relative;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#img6, #img12, #img7 {
  position: relative;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

#img8, #img9, #img10, #img13 {
  border: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*grid fill*/
#img1, #text1 {
  grid-area: i1;
}

#img2, #text2 {
  grid-area: i2;
}

#img3, #text3 {
  grid-area: i3;
}

#img4, #text4 {
  grid-area: i4;
}

#img5, #text5 {
  grid-area: i5;
}

#img6, #text6 {
  grid-area: i6;
}

#img7, #text7 {
  grid-area: i7;
}

#img8 {
  grid-area: i8;
}

#img9 {
  grid-area: i9;
}

#img10 {
  grid-area: i10;
}

#img11, #text11 {
  grid-area: i11;
}

#img12, #text12 {
  grid-area: i12;
}

#img13 {
  grid-area: i13;
}

#img14, #text14 {
  grid-area: i14;
}

/*show image text overlays on mouseover*/
#img1:hover ~ #text1, #img1 ~ #text1:hover,
#img2:hover ~ #text2, #img2 ~ #text2:hover,
#img3:hover ~ #text3, #img3 ~ #text3:hover,
#img4:hover ~ #text4, #img4 ~ #text4:hover,
#img5:hover ~ #text5, #img5 ~ #text5:hover,
#img6:hover ~ #text6, #img6 ~ #text6:hover,
#img7:hover ~ #text7, #img7 ~ #text7:hover,
#img11:hover ~ #text11, #img11 ~ #text11:hover,
#img12:hover ~ #text12, #img12 ~ #text12:hover,
#img14:hover ~ #text14, #img14 ~ #text14:hover  {
  opacity: 1;
}

/*flexbox specific styling*/
#img2, #img11 {
  object-fit: cover;
  max-width: 100% !important;
  max-height: 100%;
  display: flex;
}

#img2 > img, #img11 > img {
  box-sizing: border-box;
  padding: 1px;
  height: auto;
  width: 33.33%;
  display: block;
  object-fit: cover;
}

#more {
  position: relative;
  z-index: 20;
  grid-area: b;
  margin: 0 30% 0 30%;
}

.hide {
  font-size: 0px;
  width: 0px;
  height: 0px;
  opacity: 0 !important;
}

/*about section styling*/

section.about {
  margin: 10vh 20% 0 20%;
  height: 100vh;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: flex;
}

#intro {
  background-image: linear-gradient(to bottom, white, lightgray);
  color: #3d3f4e;
  text-align: justify;
  font-size: 2.5vh;
  letter-spacing: .8px;
  width: 50%;
  padding-top: 35%;
}

#intropic {
  object-fit: contain;
  width: 50%;
}

/*contact section styling*/

section.contact {
  margin-top: 100px;
  height: 100vh;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

section.contact > p {
  margin: 5% 0 0 0;
  font-size: 2.5vh;
  letter-spacing: .8px;
  word-spacing: 50px;
  text-align: center;
}

#socials {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

#socials > a > img {
  width: 30%;
}

/*footer section styling*/

footer {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

@media all and (max-width: 800px) {
  section.art {
    margin: 0 !important;
    padding: 0 !important;
    grid-template-rows: 10vh repeat(8, 20vh) 10vh repeat(6, 0vh) !important;
    grid-template-columns: 100vw;
    grid-template-areas:
      "t"
      "i1 "
      "i11"
      "i9"
      "i8"
      "i10"
      "i14"
      "i7"
      "i13"
      "b"
      "i5"
      "i12"
      "i2"
      "i6"
      "i3"
      "i4" !important;
  }

  section.artexpand {
    margin: 0 !important;
    padding: 0 !important;
    grid-template-rows: 10vh repeat(8, 20vh) repeat(6, 15vh) !important;
    grid-template-columns: 100vw;
    grid-template-areas:
      "t"
      "i1 "
      "i11"
      "i9"
      "i8"
      "i10"
      "i14"
      "i7"
      "i13"
      "i5"
      "i12"
      "i2"
      "i6"
      "i3"
      "i4" !important;
  }

  #img5, #img1, #img3, #img7, #img12, #img4, #img14 {
    max-width: 100% !important;
    height: 100% !important;
  }
  #img8, #img9, #img10, #img12, #img13 {
    width: 100% !important;
    max-height: 100% !important;
  }

  section.about {
    margin: 10vh 2% 0 2%;
  }

}
