* { /*remove existing styling*/
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*navigation bar styling */

div.nav { /*sets position to below immediate viewframe*/
  position: absolute;
  font-size: 24px;
  background-color: #aaa;
  float: left;
  z-index: 5;
  top: 100vh;
  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding: 5px;
  list-style: none;
}

a {
  flex: 1;
  color: #f6e0e0;
  text-decoration: none;
}

.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
}

.arrow {
  position: absolute;
  bottom: 2vh;
  left: 48.7vw;
  border: solid #aaa;
  border-width: 0 .5vw .5vw 0;
  padding: 1.3vw;
  display: inline-block;
  transform: rotate(45deg);
}

/*grid setup*/

body {
  display: grid;
  grid-template: 100vh minmax(min-content, max-content)/ repeat(3, 1fr);
}

/*main page styling*/

div.landing {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-image: url("images/demo_background.png");
  background-repeat: no-repeat;
  background-position: center 85%;
  background-size: 165vh;
}

/*title styling*/

header {
  margin-top: 10vh;
  line-height: 75%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header > h1 {
  color: #3d3f4e;
}

header > h2 {
  color: #bbb;
}

/*gallery section styling*/

section.art {
  box-sizing: border-box;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-areas:
    "t t t"
    "i1 i1 i1"
    "i1 i1 i1"
    "i9 i9 i9"
    "i9 i9 i9"
    "i5 i5 i7"
    "i2 i2 i7"
    "i6 i3 i4"
    "i6 i3 i4"
    "i8 i8 i8"
    "i8 i8 i8"
    "i10 i10 i10"
    "i10 i10 i10";
  grid-template-rows: 10vh;
  grid-auto-rows: 50vh;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5% 0 5%;
  font-size: 2vh;
}

.desat {
  filter: saturate(50%);
}

.lowdesat {
  filter: saturate(70%)
}

section.art > img {
  box-sizing: border-box;
  padding: 1px !important;
}

section.art > p > a > img {
  width: 4vh;
  float: right;
}

p.overlay {
  opacity: 0;
  color: #F6E0E0 !important;
  background-image: linear-gradient(to bottom, rgba( 0, 0, 0, 0), rgba( 0, 0, 0, 0), rgba(150, 150, 150, 0.8));
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#img1 {
  position: relative;
  box-sizing: border-box;
  grid-area: i1;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#text1 {
  grid-area: i1;
}

#img1:hover ~ #text1  {
  opacity: 1;
}

#img1 ~ #text1:hover  {
  opacity: 1;
}

#img2 {
  grid-area: i2;
  object-fit: cover;
  max-width: 100% !important;
  max-height: 100%;
  display: flex;
}

#img2 > img {
  box-sizing: border-box;
  padding: 1px;
  height: auto;
  width: 33.33%;
  display: block;
  object-fit: cover;
}

#text2 {
    grid-area: i2;
}

#img2:hover ~ #text2  {
  opacity: 2;
}

#img2 ~ #text2:hover  {
  opacity: 2;
}


#img3 {
  grid-area: i3;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

#text3 {
    grid-area: i3;
}

#img3:hover ~ #text3  {
  opacity: 1;
}

#img3 ~ #text3:hover  {
  opacity: 1;
}

#img4 {
  grid-area: i4;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

#text4 {
  grid-area: i4;
}

#img4:hover ~ #text4  {
  opacity: 1;
}

#img4 ~ #text4:hover  {
  opacity: 1;
}

#img5 {
  grid-area: i5;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#text5 {
  grid-area: i5;
}

#img5:hover ~ #text5  {
  opacity: 1;
}

#img5 ~ #text5:hover  {
  opacity: 1;
}

#img6 {
  grid-area: i6;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

#text6 {
  grid-area: i6;
}

#img6:hover ~ #text6  {
  opacity: 1;
}

#img6 ~ #text6:hover  {
  opacity: 1;
}

#img7 {
  grid-area: i7;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#text7 {
  grid-area: i7;
}

#img7:hover ~ #text7  {
  opacity: 1;
}

#img7 ~ #text7:hover  {
  opacity: 1;
}

#img8 {
  border: none;
  grid-area: i8;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#img9 {
  border: none;
  grid-area: i9;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#img10 {
  border: none;
  grid-area: i10;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

video:hover {
  cursor: pointer;
}

/*about section styling*/

section.about {
  margin-top: 10vh;
  height: 100vh;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

section.about > p {
  padding: 5% 20% 0 20%;
}

/*contact section styling*/

section.contact {
  margin-top: 10vh;
  height: 100vh;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

section.contact > p {
  padding: 5% 20% 0 20%;
}

/*footer section styling*/

footer {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

@media all and (max-width: 800px) {
  #img1 #img9 #img7 {
    height: 100% !important;
    max-width: 100% !important;
  }

  #img1 {
    padding-top: 15% !important;
  }

  section.art {
    grid-template-areas:
      "i1 i1 i1"
      "i9 i9 i9"
      "i5 i5 i7"
      "i2 i2 i7"
      "i6 i3 i4"
      "i6 i3 i4"
      "i8 i8 i8";
    grid-auto-rows: 25vh;
  }

}
