body {
  background: #c0baba;
}

.navbar {
  background: #f6dada;
  border-style: hidden;
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-variant: small-caps;
  letter-spacing: 10px;
}

.navbar-nav>li>.dropdown-menu {
  font-variant: small-caps;
  letter-spacing: 10px;
  background: #f6dada;
  border-style: hidden;
}

.nav .open>a {
  background: #6c5656 !important;
}

/* new nav stuff */
.navbar-toggle {
  border-style: none;
}

.navbar-toggle:hover {
  background-color: #6c5656 !important;
}

/* ---------- */
.caption {
  text-align: center;
  font-variant: small-caps;
  color: #807d7d !important;
  letter-spacing: 1px;
  font-size: 80%;
}

.modal-content {
  text-align: center;
  background-color: #676565;
  letter-spacing: 2px;
  color: #f6dada;
  font-family: Helvetica;
  /* font-variant: small-caps; */
}


.text1 {
  font-variant: normal;
  font-size: 100%;
}

.text2 {
  font-variant: small-caps;
  /* font-size: 180%; */
  letter-spacing: 3px;
}

.clearfix {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.Slider_img {
  float: left;
  width: 40%;
}

.content {
  float: right;
  width: 60%;
  font-family: "Helvetica";
  letter-spacing: 3px;
  color: #6c5656;
  padding: 0% 10% 0% 0%
}

a {
  color: #FFFFFF;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}

a:hover {
  color: white;
}

.textlink:hover {
  font-weight: bold;
  text-decoration: none;
  color: white !important;
}

.textlink:active {
  font-weight: bold;
  text-decoration: none;
  color: white !important;
}

#p3portrait canvas {
  widtch: 100% !important:
  height: auto !important:
}
