body {
  color: #FFF;
  text-align: center;
  background-image: url("images/starry.jpg");
  background-size: 100%;
  font: 15px Courier, sans-serif;
  letter-spacing: 10px;
}

a:link    {
  color: #FFF;
  text-decoration: none;
}
a:visited {
  color: #FFF;
  text-decoration: none;
}
a:hover   {
  color: #FFF;
  text-decoration: none;
}
a:active  {
  color: #FFF;
  text-decoration: none;
}

h1 {
  padding-top: 5%;
  text-shadow: 0px 0px 10px #FFF;
  animation: 5s ease infinite glow;
}

#alien {
  animation: 5s ease infinite bob;
  width: 28%;
}

article {
  padding: 25%;
  font: 18px Courier, sans-serif;
  letter-spacing: 5px;
  text-shadow: 0px 0px 5px #FFF;
  animation: 5s ease infinite smallglow;
}

@keyframes bob {
  50% {
    transform: translate(0, 5%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

@keyframes glow {
    0% {
      text-shadow: 0px 0px 10px white;
    }
    50% {
      text-shadow: 0px 0px 20px white;
    }
    75% {
      text-shadow: 0px 0px 10px white;
    }
}

@keyframes smallglow {
    0% {
      text-shadow: 0px 0px 5px white;
    }
    50% {
      text-shadow: 0px 0px 20px white;
    }
    75% {
      text-shadow: 0px 0px 5px white;
    }
}
