body {
  color: #FFF;
  text-align: center;
  background-image: url("images/starry.jpg");
  background-size: 100%;
  font: 15px Courier, sans-serif;
  font-weight: light;
  letter-spacing: 10px;
}

a:link    {
  color: #FFF;
  text-decoration: none;
}
a:visited {
  color: #FFF;
  text-decoration: none;
}
a:hover   {
  color: #FFF;
  text-decoration: none;
}
a:active  {
  color: #FFF;
  text-decoration: none;
}

h1 {
  padding-top: 5%;
  text-shadow: 0px 0px 10px #FFF;
  animation: 5s ease infinite glow;
}

img {
  animation: 5s ease infinite bob;
}

article {
  padding: 25%;
  letter-spacing: 5px;
  animation: 5s ease infinite glow;
}

@keyframes bob {
  50% {
    transform: translate(0, 5%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

@keyframes glow {
    0% {
      text-shadow: 0px 0px 10px white;
    }
    50% {
      text-shadow: 0px 0px 20px white;
    }
    75% {
      text-shadow: 0px 0px 10px white;
    }

}
